# LAB 01: Trực quan hóa dữ liệu với Python
---

## Lớp: Trực quan hoá dữ liệu 20_21

### **Thông tin nhóm:**

| Index   |     Họ và Tên     |  MSSV |
|---------|:--------------|:---------|
| 1       | Nguyễn Đức Minh Quân         |20120357|
| 2       |          | |
| 3       |             |         |
| 4       |             |         |

---

## **A. Thu thập dữ liệu**

### Ngữ cảnh chọn chủ đề

### Nguồn dữ liệu

### Import thư viện

In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### Đọc file csv

In [70]:
df = pd.read_csv('matches.csv', index_col=0) 
df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-07,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,...,Match Report,NaN,13.0,1.0,18.7,1.0,1.0,1.0,2023,Manchester City
2,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,...,Match Report,NaN,19.0,7.0,17.5,0.0,0.0,0.0,2023,Manchester City
3,2022-08-21,16:30,Premier League,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,...,Match Report,NaN,21.0,10.0,16.2,1.0,0.0,0.0,2023,Manchester City
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,...,Match Report,NaN,18.0,5.0,14.1,0.0,0.0,0.0,2023,Manchester City
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,...,Match Report,NaN,17.0,9.0,14.8,0.0,0.0,0.0,2023,Manchester City

## **B. Khám phá dữ liệu**

### **Dữ liệu có bao nhiêu dòng và cột?**

In [71]:
num_rows,num_cols=df.shape
print('Số cột : {}'.format(num_cols))
print('Số dòng: {}'.format(num_rows))

Số cột : 27
Số dòng: 2721

### **Mỗi dòng có ý nghĩa gì?**

các dòng có ý nghĩa giống nhau là những thông số được ghi lại của một trận đấu thuộc khuôn khổ giải đấu Ngoại Hạng Anh (Premier League) từ năm 2019 - 2023.

### **Các dòng có bị lặp hay không?**

In [72]:
have_duplicated_rows = df.duplicated().any()

if have_duplicated_rows:
    print('Các dòng dữ liệu bị lặp')
else:
    print('Các dòng dữ liệu không bị lặp')

Các dòng dữ liệu không bị lặp

### **Mỗi cột có ý nghĩa gì**

Các cột

In [73]:
df.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team'],
      dtype='object')

1. **date:**  Ngày tháng năm diễn ra trận đấu
2. **time:**  Thời gian diễn ra trận đấu
3. **comp:**  Giải đấu
4. **round:**  Vòng đấu
5. **day:**  Thứ ngày diễn ra trận đấu
6. **venue:**  Đội nhà (Home), Đội khách (Away)
7. **result:**  Kết quả: W(Thắng), D(Hoà), L(Thua) 
8. **gf:**  Goals For - Bàn thắng ghi được
9. **ga:**  Goals Against - Bàn thua nhận được
10. **opponent:**  Tên đội bóng đối đầu
11. **xg:**  Expected Goals - Dự đoán bàn thắng ghi được
12. **xga:**  Expected Goals Against - Số bàn thua dự đoán
13. **poss:**  Kiểm soát bóng
14. **attendeance:**  Số khán giả cổ vũ
15. **captain:**  Tên đội trưởng
16. **formation:**  Đội hình ra sân
17. **referee:**  Trọng tài chính
18. **match report:**  Báo cáo trận đấu
19. **notes:**  Ghi chú về trận đấu
20. **sh:**  Số lượt sút
21. **sot:**  Số lượt sút trúng đích
22. **dist:** 
23. **fk:**  Số lần sút phạt cố định
24. **pk:**  Số bàn phạt đền
25. **pkatt:**  Số lần sút phạt đền
26. **season:**  Mùa giải
27. **team:**  Đội bóng thống kê

### **Mỗi cột có kiểu dữ liệu gì?**

In [74]:
df.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

Ta nhận thấy cột dữ liệu ngày tháng cần được chuyển sang dạng datetime

In [75]:
df["date"] = pd.to_datetime(df["date"])
df.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

### **Có cột nào không cần thiết phải xoá không?**

Tìm những cột có 1 giá trị duy nhất

In [76]:
df.nunique()

date            440
time             19
comp              1
round            38
day               7
venue             2
result            3
gf               10
ga               10
opponent         25
xg               48
xga              48
poss             63
attendance      859
captain         140
formation        21
referee          28
match report      1
notes             0
sh               32
sot              16
dist            183
fk                5
pk                4
pkatt             4
season            4
team             25
dtype: int64

Ta thấy có 3 cột "comp", "match report", "notes" có 0 và 1 giá trị duy nhất không cần thiết nên ta xóa đi

In [77]:
df = df.drop(['comp','match report','notes'], axis=1)
df

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-07,16:30,Matchweek 1,Sun,Away,W,2.0,0.0,West Ham,2.2,...,4-3-3,Michael Oliver,13.0,1.0,18.7,1.0,1.0,1.0,2023,Manchester City
2,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,0.0,Bournemouth,1.7,...,4-2-3-1,David Coote,19.0,7.0,17.5,0.0,0.0,0.0,2023,Manchester City
3,2022-08-21,16:30,Matchweek 3,Sun,Away,D,3.0,3.0,Newcastle Utd,2.1,...,4-3-3,Jarred Gillett,21.0,10.0,16.2,1.0,0.0,0.0,2023,Manchester City
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.2,...,4-2-3-1,Darren England,18.0,5.0,14.1,0.0,0.0,0.0,2023,Manchester City
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.3,...,4-2-3-1,Paul Tierney,17.0,9.0,14.8,0.0,0.0,0.0,2023,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2020-07-07,18:00,Matchweek 34,Tue,Away,L,1.0,2.0,Watford,1.2,...,4-2-3-1,Anthony Taylor,12.0,3.0,16.9,1.0,0.0,0.0,2020,Norwich City
39,2020-07-11,12:30,Matchweek 35,Sat,Home,L,0.0,4.0,West Ham,0.6,...,4-2-3-1,Kevin Friend,11.0,2.0,19.8,1.0,0.0,0.0,2020,Norwich City
40,2020-07-14,20:15,Matchweek 36,Tue,Away,L,0.0,1.0,Chelsea,0.1,...,4-1-4-1,Jonathan Moss,2.0,0.0,20.6,0.0,0.0,0.0,2020,Norwich City
41,2020-07-18,17:30,Matchweek 37,Sat,Home,L,0.0,2.0,Burnley,0.3,...,4-2-3-1,Kevin Friend,6.0,2.0,13.4,0.0,0.0,0.0,2020,Norwich City
42,2020-07-26,16:00,Matchweek 38,Sun,Away,L,0.0,5.0,Manchester City,1.0,...,4-2-3-1,Craig Pawson,5.0,4.0,19.8,0.0,0.0,0.0,2020,Norwich City

In [78]:
numeric_columns = df.select_dtypes('number')
numeric_columns

,gf,ga,xg,xga,poss,attendance,sh,sot,dist,fk,pk,pkatt,season
1,2.0,0.0,2.2,0.5,75.0,62443.0,13.0,1.0,18.7,1.0,1.0,1.0,2023
2,4.0,0.0,1.7,0.1,67.0,53453.0,19.0,7.0,17.5,0.0,0.0,0.0,2023
3,3.0,3.0,2.1,1.8,69.0,52258.0,21.0,10.0,16.2,1.0,0.0,0.0,2023
4,4.0,2.0,2.2,0.1,74.0,53112.0,18.0,5.0,14.1,0.0,0.0,0.0,2023
5,6.0,0.0,3.3,0.7,74.0,53409.0,17.0,9.0,14.8,0.0,0.0,0.0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,1.0,2.0,1.2,1.2,56.0,NaN,12.0,3.0,16.9,1.0,0.0,0.0,2020
39,0.0,4.0,0.6,3.5,53.0,NaN,11.0,2.0,19.8,1.0,0.0,0.0,2020
40,0.0,1.0,0.1,2.5,33.0,NaN,2.0,0.0,20.6,0.0,0.0,0.0,2020
41,0.0,2.0,0.3,1.8,42.0,NaN,6.0,2.0,13.4,0.0,0.0,0.0,2020
42,0.0,5.0,1.0,3.2,27.0,NaN,5.0,4.0,19.8,0.0,0.0,0.0,2020